# Build -> standard de facto per la generazione manuale del progetto
build/

# Out -> si tratta dello standard de facto per clion e per il tool di cmake per generare il progetto
out/

# CMake
compile_commands.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# CLion
.idea/

# Neovim / clangd
.cache/
*.swp
*.swo

# Compilati (per sicurezza)
*.o
*.a
*.out
